<li class='gallery-item'>
  <a class='gallery-link' href='{{preview}}'>
    <img
      class='gallery-image'
      src='{{preview}}'
      data-source='{{original}}'
      alt='{{description}}'
    />
  </a>
</li>